header
    .logo
        a(href="#") NuestroViaje
    nav.menu
        a(href="#")
            span Como Funciona
        a(href="#")
            span Demo
        a(href="#")
            span Comienza tu Viaje
        a(href="#")
            span Ingresa
    .fondo
        h1.title TU NUEVA BITACORA
        h2.subtitle Registra y Comparte tu Viaje
    