// Variables
$color-1 = #D31E30
$color-2 = #005A6D
$color-3 = #00A199
$color-4 = #DCC8A6
$color-5 = #F7FAF9
$color-6 = #DCAA0A

// Fuentes
@import 'https://fonts.googleapis.com/css?family=Mukta+Malar'
@import 'https://fonts.googleapis.com/css?family=Pacifico'

// Mixins
@import 'mixins.styl'

// Componentes
@import 'header.styl'
@import 'footer.styl'

// Estilos Generales
body
	font-family 'Mukta Malar'
	background-color $color-5
	margin 0
	paddin 0